auth_url = "" #Addresse von OpenStack (bsp. https://10.32.4.29:5000/v3)
project  = "" #Openstack Gruppenname
user     = "" #Openstack Gruppenname
password = "" #Openstack Passwort
ssh_public_key_path = ""#Path to your created public key

region   = "RegionOne"

network_name = "CloudServ1-net-redmine"
subnet_cidr  = "192.168.11.0/24" #Private IPs für die Worker

image_id     = "a482ee88-3671-4aa7-99b6-4c2e485d41fd"

worker_flavor = "m1.medium"
server_flavor = "m1.medium"

worker_volume_size = 20
server_volume_size = 30

external_network_name = "ext_net"

existing_router_id = "d6e23175-df87-43c0-af0e-b41fd7672473"

uni_vpn_cidr = "10.0.0.0/8"

dns_nameservers = ["10.33.16.100", "1.1.1.1"]