name: CI - Build & Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker images
        run: docker compose -f Docker/docker-compose.yaml build

      - name: Start containers
        run: docker compose -f Docker/docker-compose.yaml up -d

      - name: Wait for services
        run: sleep 15

      - name: Run tests
        run: |
          docker ps
          docker compose -f Docker/docker-compose.yaml ps

      - name: Stop containers
        if: always()
        run: docker compose -f Docker/docker-compose.yaml down
